body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  height: 30px;
  min-width: 300px;
  font-size: 1em;
}

textarea {
  min-height: 300px;
  min-width: 300px;
  font-size: 1em;
}

label {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

button {
  padding: 20px;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  font-size: 1em;
}
